<p id="notice"><%= notice %></p>
<!-- <table class='table table-hover'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <th>Mise a jour</th>
      <th>Activate</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="annonce">
        <td><%= image_tag product.image.url(:thumb) %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td><%= product.date %></td>
        <td><%= product.updated_at %></td>
        <td><%= product.activate %></td>
        <td><%= product.user.email %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<!-- <% if !user_signed_in? %>
 <div id="titreimg" class="jumbotron">
   <h1>Plateform SCARP</h1>
     <p> Tout ce dont vous avez besoin pour lutter conte le gaspillage efficacement </p>
     <p><%= link_to "Rejoindre la commuanauté", new_user_registration_path, class: "btn primary-btn btn-lg" %></p>
 </div>
<% end %> -->

<div class="container">
  <div class="row">
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
    </p>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    </p>
  </div>
  <% @products.each do |product| %>
  <div class="row annonce">
    <%= link_to 'Show', product %>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <%= image_tag product.image.url(:thumb) %>
    </p>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <%= product.name %>
    </p>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <%= product.user.first_name %>
    </p>
  </div>
  <hr class="style18">
  <% end %>
</div>



<br>

<%= link_to 'New Product', new_product_path %>
